<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EDIT</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
 
</head>
<body>
    <nav class="navbar navbar-dark bg-dark justify-content-between">
        <a class="navbar-brand" href="#">
            <!-- <img src="https://i.pinimg.com/originals/3f/3d/d9/3f3dd9219f7bb1c9617cf4f154b70383.jpg" width="30" height="30" alt="" loading="lazy"> -->
          </a>
          <a class="badge badge-light text-center" style="margin: 10px;font-size: 20px;"><span id="typed"></span></a>
        <a class="btn btn-danger" href="/">Back</a>
    </nav>

    <div class="row justify-content-center text-center" style="margin-top: 50px;margin-right: 0;">
        <div class="col-12 col-md-4">
            <form action="/change" method="GET">
            
                <input class="form-control" type="hidden" name="id" id="" th:value="${id}" required>
                <input class="form-control" type="text" name="name" id="" th:value="${name}"required>
                <input class="form-control"type="text" name="email" id="" th:value="${email}"required>
                <br>
                <input class="btn btn-primary "type="submit" value="EDIT">
            </form>
        </div>
    
        
    </div>
    
    
    <!-- <p th:text="${myName}"></p> -->
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.11"></script>
    <script>
        var typed = new Typed('#typed', {
            strings: ['CRUD BY', 'SPRING BOOT'],
            typeSpeed: 100,
            backSpeed:200,
            loop:true

        });
    </script>
</body>
</html>